.black { 
	color: #1d2120;  
}
#top-row { 
	background-color: #ba9077;
    font-family:inherit; 
}

.brown {
    color: #5a5c51;
}

#bottom-row { 
    background-color: #bcd5d1; 
    font-family:sans-serif;
}

.green {
	color: #bcd5d1;

}

.content { 
    width:60%;
    max-width:960px;
    margin:auto
}

#black { 
	background-color:  #1d2120;
    font-family:fantasy;
}